<form action="/ticketUpdate" method="post">
  <input type="hidden" name="id" value={{ticket.id}} />

  {{#if adm}}
    Titulo:
    <input type="text" name="titulo" value="{{ticket.titulo}}" />
    <br /><br />
    Descricao:
    <input type="text" name="descricao" value="{{ticket.descricao}}" />
    <br /><br />
    Status:
    <input type="text" name="status" value="{{ticket.status}}" />
    <br /><br />
    Observacao:
    <input type="text" name="observacao" value="{{ticket.observacao}}" />
    <br /><br />
    Categoria:
    <select name="categoriaId">
      {{#each categoria}}
        <option selected value={{id}}>{{nome}}</option>
      {{/each}}
    </select>
    <br /><br />
    Responsavel:
    <select name="tecnicoId">
      <option value=Null>Não atribuido</option>
      {{#each tecnico}}
        <option value={{id}}>{{usuario.login}}</option>
      {{/each}}
    </select>
    <br /><br />
    <input type="submit" value="Atualizar" />
  {{/if}}

  {{#if tec}}
    Titulo:
    {{ticket.titulo}}
    <br /><br />
    Descricao:
    {{ticket.descricao}}
    <br /><br />
    Status:
    <input type="text" name="status" value="{{ticket.status}}" />
    <br /><br />
    Observacao:
    <input type="text" name="observacao" value="{{ticket.observacao}}" />
    <br /><br />
    <input type="submit" value="Atualizar" />
  {{/if}}
</form>